<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body style="max-width: 800px; margin: auto; padding: 20px;">
	
	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form class="card" action="#" th:action="@{/createTodoItem}" th:object="${todoItem}" method="get">
					<div style="margin: 10px;" class="form-group">
					    <label for="content">Create</label>
						<input style="margin: 0 0 5px 0;" class="form-control" type="text" th:field="*{content}" />
						<input type="hidden" value="false" id="checked" name="checked" />
						<input class="btn btn-primary" type="submit" value="Create" />
					</div>
				</form>	
			</div>			
			<div th:each="item: ${itemList}" class="col-6">
				<div style="margin: 10px 0; padding: 10px" class="card">
					<h5 class="card-title">
						<span th:text="${item.id}"/>
						<div th:if="${item.checked}">
							<form action="#" th:action="@{/editTodoItem}" th:object="${item}" method="get">
								<input type="hidden" th:value="*{id}" id="id" name="id" />
								<input type="hidden" th:value="*{content}" id="content" name="content" />
								<input type="hidden" value="false" id="checked" name="checked" />
								<input style="margin: 5px 0 0 0" class="btn btn-sm btn-primary" type="submit" value="Uncheck" />
							</form>
						</div>
						<div th:unless="${item.checked}">
							<form action="#" th:action="@{/editTodoItem}" th:object="${item}" method="get">
								<input type="hidden" th:value="*{id}" id="id" name="id" />
								<input type="hidden" th:value="*{content}" id="content" name="content" />
								<input type="hidden" value="true" id="checked" name="checked" />
								<input style="margin: 5px 0 0 0" class="btn btn-sm btn-primary" type="submit" value="Check"/>
							</form>
						</div>
					</h5>

					<div th:if="${item.checked}">
						<s><p style="color: gray" class="card-text" th:text="${item.content}" /></s>
					</div>
					<div th:unless="${item.checked}">
						<p class="card-text" th:text="${item.content}" />
					</div>							

					<form action="#" th:action="@{/editTodoItem}" th:object="${item}" method="get">
						<input type="hidden" th:value="*{id}" id="id" name="id" />			
						<input style="margin: 20px 0 5px 0" class="form-control" type="text" th:value="*{content}" id="content" name="content" />
						<input class="btn btn-primary btn-block" type="submit" value="Edit" />
					</form>
					<form action="#" th:action="@{/deleteTodoItem}" th:object="${item}" method="get">
						<input type="hidden" th:value="*{id}" id="id" name="id" />
						<input style="margin: 5px 0 0 0" class="btn btn-danger btn-block" type="submit" value="Delete"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>